.field-container {
    display: flex;
    flex-direction: column;
}

.item {

}

.title {
    font-size: 0.5rem;
    color: black;
}

.one-result-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    flex: 1;
}
.logo-unsplash-h4 {
    color: black;
    margin: 0.5rem;
}
.show-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -20vh;
    
}
.show-images-container>* {
flex: 0 0 33.33%;
} 
