
.top-of-appH {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("img/susnet2_big.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
}
.home-linkH {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5rem;
  color: rgb(255,255,255,0.5);
 
}
.about-linkH {
  position: absolute;
  top: 0;
  left: 4rem;
  margin: 0.5rem;
  color: rgb(255,255,255,0.5);
  text-decoration: none;

}
  
.logo-and-searchbar-containerH {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  margin-bottom: 9rem;
  width: 32rem;
}
.search-bar-with-button-containerH {
  display: flex;
  flex-direction: row;
}

.logo-unsplash-bigH {
  margin: 0.5rem;
  font-weight: 700;
  color: white;
  font-size: 2rem;
 
}
.logo-unsplash-smallH {
  margin-left: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
 
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255,255,255,0.7);
  opacity: 1; /* Firefox */
}

.search-barH {
  width: 28.5rem;
  height: 2.8rem;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
  position: relative;
  padding: 0.8rem;
  border: 0.2rem solid rgb(0,0,0,0.2);
  border-radius: 4px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  font-weight: 600;
  color: rgb(255,255,255,0.9);
  outline: none;
  box-shadow: 0rem 0.2rem 1rem 0rem transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
  
}
.search-barH::placeholder { 
  color: white;
  opacity: 0.8;
}

.search-bar:hover {
  background-color: rgba(214, 214, 214, 0.45);
  box-shadow: 0.5rem 0.2rem 1rem 0rem rgba(0, 0, 0, 0.05);
}

.searchButtonH {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  margin: 0.5rem 0.5rem 0rem 0.5rem;
}

.toogleAutocompleteH {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  margin-left: 3.9rem;
  margin-right: 0.5rem;
  margin-top: 0.15rem;
  background-color: white;
}

.show-images-containerH {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -20vh;
  
}
.show-images-containerH>* {
  flex: 0 0 33.33%;
}

.one-result-containerH {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  flex: 1;
}

